header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 18px;
        color: $grey;
    }

    nav {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 290px;
        }
    }

}
%header-icon {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hamburger {
    @extend %header-icon;
    background-image: url("../../assets/icon-hamburger.svg");
    
    @include tablet {
        display: none;
    }

}
.cross {
    @extend %header-icon;
    background-image: url("../../assets/icon-close.svg");
}