@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@400;700&display=swap");

$titleFont: "Fraunces", 'Sans-serif';
$regularFont: "Barlow", 'Sans-serif';

h1 {
    font-family: $titleFont;
    font-size: 40px;
    line-height: 0.9;

    @include tablet {
        font-size: 48px;
    }
    @include desktop {
        font-size: 56px;
    }
    @include large-desktop {
        font-size: 72px;
    }
}

h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
}
p, a, li {
    font-size: 16px;
    font-family: $regularFont;
    line-height: 1.5;
}