@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@400;700&display=swap");
h1 {
  font-family: "Fraunces", "Sans-serif";
  font-size: 40px;
  line-height: 0.9;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 56px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  font-family: "Fraunces", "Sans-serif";
  font-size: 35px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-family: "Fraunces", "Sans-serif";
  font-size: 30px;
}

h4 {
  font-family: "Fraunces", "Sans-serif";
  font-size: 22px;
}

p, a, li {
  font-size: 16px;
  font-family: "Barlow", "Sans-serif";
  line-height: 1.5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  color: #83888F;
}

header a :hover {
  font-weight: bold;
}

header nav {
  display: none;
}

@media (min-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 290px;
  }
}

.hamburger, .cross {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hamburger {
  background-image: url("../../assets/icon-hamburger.svg");
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.cross {
  background-image: url("../../assets/icon-close.svg");
}

.mobile-nav {
  padding: 30px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, white), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, white 70%, rgba(0, 0, 0, 0) 100%);
}

.mobile-nav section {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #333D48;
}

.mobile-nav nav {
  padding-top: 30px;
  text-align: center;
}

.mobile-nav nav h4 {
  margin-bottom: 30px;
  color: #333D48;
  font-weight: 400;
}

.home-hero-banner {
  margin-top: 30px;
  padding: 125px 15px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .home-hero-banner {
    text-align: left;
  }
  .home-hero-banner div {
    padding-left: 30px;
    padding-right: 30px;
    width: 60%;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .home-hero-banner div {
    width: 45%;
  }
}

.home-hero-banner {
  background-image: url("../../assets/home/mobile/image-hero-coffeepress.jpg");
}

.home-hero-banner p {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .home-hero-banner {
    background-image: url("../../assets/home/tablet/image-hero-coffeepress.jpg");
  }
}

@media (min-width: 1200px) {
  .home-hero-banner {
    background-image: url("../../assets/home/desktop/image-hero-coffeepress.jpg");
  }
}

button {
  width: 217px;
  height: 56px;
  background-color: #0E8784;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button:hover {
  background-color: #66D2CF;
}

.button-disabled {
  background-color: #E2DEDB;
}

.App {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
}

.logo {
  width: 175px;
}

.coffee-selection {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}

.coffee-selection h2 {
  color: #83888F;
}

.coffee-selection section {
  width: 100%;
}

@media (min-width: 1200px) {
  .coffee-selection section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.coffee-selection article {
  margin-top: 75px;
}

.coffee-selection article h3 {
  margin-bottom: 20px;
  font-family: "Fraunces", "Sans-serif";
  color: #333D48;
}

.coffee-selection article img {
  width: 200px;
}

@media (min-width: 768px) {
  .coffee-selection article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    text-align: left;
  }
  .coffee-selection article img {
    width: 255px;
  }
}

@media (min-width: 1200px) {
  .coffee-selection article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .coffee-selection article img {
    width: 275px;
  }
}

.selling-points {
  width: 100%;
  height: 900px;
  padding: 50px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #333D48;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.selling-points h3 {
  margin-bottom: 20px;
}

.selling-points h3 p {
  color: #fff;
}

@media (min-width: 768px) {
  .selling-points {
    height: 575px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .selling-points {
    padding-top: 100px;
  }
  .selling-points:nth-child(2) {
    color: red;
  }
  .selling-points section {
    margin-top: 100px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.selling-points article {
  margin-top: 20px;
  padding: 70px 20px;
  background-color: #0E8784;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #FEFCF7;
}

.selling-points article h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .selling-points article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .selling-points article img {
    height: 100px;
    margin-right: 80px;
  }
  .selling-points article h4 {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .selling-points article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .selling-points article img {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style: none;
}
/*# sourceMappingURL=App.css.map */